@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multiEllipsis($line: 2, $lineHeight: 1.5) {
  display: -webkit-box;
  line-height: $lineHeight;
  height: $line * $lineHeight * 1em;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
//1. 몇개 만들건지.., color
@mixin longShadow($limit: 30, $color: rgba(0, 0, 0, 1)) {
  $shadow: "";
  @for $i from 1 through $limit - 1 {
    $shadow: $shadow + $i + "px " + $i + "px 0px " + $color + ",";
  }
  $shadow: $shadow + $limit + "px " + $limit + "px 0px " + $color + ";";
  $shadow: unquote($shadow);
  text-shadow: $shadow;
  // text-shadow:
  // 1px 1px 0px rgba(0,0,0,1),
  // 2px 2px 0px rgba(0,0,0,1),
  // 3px 3px 0px rgba(0,0,0,1),
  // 4px 4px 0px rgba(0,0,0,1),
  // 5px 5px 0px rgba(0,0,0,1)
}
