html {
}
body {
  font-family: "Roboto", "Noto Sans KR", "돋움", sans-serif;
  font-size: 16px;
  color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 99;
  width: 100%;
  color: #fff;
  height: 80px;
  overflow: hidden;
  //border-bottom: 1px solid #111;
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 80px;
    pointer-events: none;
  }
  &.open {
    height: 400px;
    background-color: #fff;
    color: #111;
  }
  .logo {
    a {
      img {
        height: 50px;
      }
      .white {
        position: absolute;
      }
      .color {
        opacity: 1;
      }
    }
  }
  .gnb {
    > ul {
      display: flex;
      text-align: center;
      > li {
        &:hover {
          .depth02 {
            background-color: #ccc;
          }
        }
      }
      .depth01 {
        font-size: 20px;
        font-weight: 500;
        //background-color: #f00;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 30px;
      }
      .depth02 {
        font-size: 18px;
        height: 350px;
        padding-top: 30px;
        a {
          padding: 5px 0;
          display: block;
        }
      }
      .depth03 {
        color: #999;
        a {
          padding: 5px 0;
          display: block;
        }
      }
    }
  }
  .util {
    display: flex;
    align-items: center;
    height: 80px;
    li {
      display: flex;
      //align-self: start;
      &:last-child:after {
        display: none;
      }
      &:after {
        content: "";
        display: block;
        width: 1px;
        height: 14px;
        background-color: #fff;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}
