<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jsp05-model2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hi</display-name>
    <servlet-name>Hi</servlet-name>
    <servlet-class>Hi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hi</servlet-name>
    <url-pattern>/Hi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gugudan</display-name>
    <servlet-name>Gugudan</servlet-name>
    <servlet-class>Gugudan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gugudan</servlet-name>
    <url-pattern>/Gugudan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProcess</display-name>
    <servlet-name>DeleteProcess</servlet-name>
    <servlet-class>com.jjang051.controller.member.DeleteProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProcess</servlet-name>
    <url-pattern>/member/delete-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modify</display-name>
    <servlet-name>Modify</servlet-name>
    <servlet-class>com.jjang051.controller.member.Modify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modify</servlet-name>
    <url-pattern>/member/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyConfirm</display-name>
    <servlet-name>ModifyConfirm</servlet-name>
    <servlet-class>com.jjang051.controller.member.ModifyConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyConfirm</servlet-name>
    <url-pattern>/member/modify-confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyProcess</display-name>
    <servlet-name>ModifyProcess</servlet-name>
    <servlet-class>com.jjang051.controller.member.ModifyProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProcess</servlet-name>
    <url-pattern>/member/modify-process</url-pattern>
  </servlet-mapping>
</web-app>