<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jsp05-model2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hi</display-name>
    <servlet-name>Hi</servlet-name>
    <servlet-class>Hi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hi</servlet-name>
    <url-pattern>/Hi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gugudan</display-name>
    <servlet-name>Gugudan</servlet-name>
    <servlet-class>Gugudan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gugudan</servlet-name>
    <url-pattern>/Gugudan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>com.jjang051.controller.member.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/member/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProcess</display-name>
    <servlet-name>InsertProcess</servlet-name>
    <servlet-class>com.jjang051.controller.member.InsertProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProcess</servlet-name>
    <url-pattern>/member/insert-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexController</display-name>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>com.jjang051.controller.index.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/index/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.jjang051.controller.member.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/member/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProcess</display-name>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>com.jjang051.controller.member.LoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/member/login-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Info</display-name>
    <servlet-name>Info</servlet-name>
    <servlet-class>com.jjang051.controller.member.Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/member/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.jjang051.controller.member.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/member/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IDCheck</display-name>
    <servlet-name>IDCheck</servlet-name>
    <servlet-class>com.jjang051.controller.member.IDCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDCheck</servlet-name>
    <url-pattern>/member/id-check</url-pattern>
  </servlet-mapping>
</web-app>