// display:flex는 block 요소의 레이아웃을 바꿀 쓴다.
/*
  display:flex는 block 요소의 레이아웃을 바꿀 쓴다.
*/

$main-color: #089ac3;

body {
  //16진수 0~9abcdef  0~9 8진수 0~7  10  2진수 0~1 10
  background-color: #cccccc;
}
.resume {
  width: 1200px;
  display: flex;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  .img-box {
    img {
      width: 250px;
    }
  }
  .contents-box {
    h1 {
      font-size: clamp(24px, 10vw, 64px);
      margin-bottom: 20px;
      //font-size: 10vw;
      // 함수
    }
    .info {
      dl {
        display: flex;
        margin-bottom: 10px;
        gap: 20px;
        dt {
          font-weight: bold;
        }
        dd {
          color: #999;
        }
      }
    }
    .contents {
      margin-top: 50px;
      h2 {
        font-size: 24px;
        color: $main-color;
        margin-bottom: 20px;
        text-transform: capitalize;
      }
      p {
        line-height: 1.5;
        word-break: keep-all;
        margin-bottom: 20px;
        // 정부 프로젝트 또는 보수적인 사이트 만들때 미리 적용해 놓을 것...
      }
      .skill-list {
        display: flex;
        gap: 30px;
        h3 {
          font-size: 20px;
          color: $main-color;
          margin-bottom: 15px;
        }
        ul {
          li {
            margin-left: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            &:before {
              content: "";
              display: block;
              margin-right: 5px;
              width: 4px;
              height: 4px;
              border-radius: 10px;
              background-color: darken($main-color, 10);
            }
          }
        }
      }
    }
  }
}

// 만약 내가 보는 미디어의 사이즈가 640px보다 작으면 위에 있는 css를 적용하지말고
// 여기껄 적용해라...

@media all and (max-width: 640px) {
  .resume {
    width: 100%;
    padding: 0;
    flex-direction: column;
    .img-box {
      padding: 20px;
      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 500px;
      }
    }
    .contents-box {
      padding: 20px;
    }
  }
}
// html / css / js  웬만하면 수업에 빠지지 마세요
