<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginSuccess</display-name>
    <servlet-name>LoginSuccess</servlet-name>
    <servlet-class>LoginSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSuccess</servlet-name>
    <url-pattern>/login-success</url-pattern>
  </servlet-mapping>
  <display-name>jsp01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>Hello</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Hi</servlet-name>
    <servlet-class>Hi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GugudanResult</servlet-name>
    <servlet-class>GugudanResult</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GugudanForm</servlet-name>
    <servlet-class>GugudanForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemResult</servlet-name>
    <servlet-class>ItemResult</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>LoginProcess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginForm</servlet-name>
    <servlet-class>LoginForm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginForm02</servlet-name>
    <servlet-class>LoginForm02</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginProcess02</servlet-name>
    <servlet-class>LoginProcess02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/aaa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Hi</servlet-name>
    <url-pattern>/hi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GugudanResult</servlet-name>
    <url-pattern>/gugudan-result</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GugudanForm</servlet-name>
    <url-pattern>/gugudan-form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemResult</servlet-name>
    <url-pattern>/item-result</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/login-process</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/login-form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginForm02</servlet-name>
    <url-pattern>/login-form02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginProcess02</servlet-name>
    <url-pattern>/login-process02</url-pattern>
  </servlet-mapping>
</web-app>