* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.computer {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.human {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.human img {
  width: 100px;
}

.result {
  display: flex;
  justify-content: center;
  font-size: 24px;
}