.hidden {
  display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  // box-sizing: content-box;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  font-family: inherit;
}
textarea {
  font-family: inherit;
}
p {
  line-height: 1.5;
}
img {
  vertical-align: top;
}
button {
  border: none;
  outline: none;
  background: none;
}
