@charset "UTF-8";
.main {
	min-height: 500px;
}


.step:before {
	content:"\F132";
	display:inline-block;
	font-family:"bootstrap-icons";
}

.step2 {
	padding-left: 20px;
}
.step3 {
	padding-left: 40px;
}

.list a {
	text-decoration: none;
	color:#111;
}


.form-signin {
	width:300px !important;
}


