img {
  vertical-align: top;
}

#aaa {
  position: absolute;
  left: 50%;
  top: 50%;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap h1 {
  font-size: 32px;
  margin: 100px 0;
  text-align: center;
}
.wrap h1 span {
  display: block;
}
.wrap h1 span.sub {
  font-size: 20px;
  margin-top: 20px;
}
.wrap #com {
  margin-bottom: 50px;
}
.wrap #com ul {
  display: flex;
}
.wrap #com ul li {
  user-select: none;
}
.wrap #player ul {
  display: flex;
}
.wrap #player ul.prevent {
  pointer-events: none;
}
.wrap #player ul li {
  margin: 0 10px;
  border: 5px solid transparent;
  border-radius: 100%;
  user-select: none;
}
.wrap #player ul li.on {
  border-color: #000;
}
.wrap #player ul li img {
  width: 80px;
}
.wrap #result {
  margin-top: 50px;
}
.wrap #result ul {
  display: flex;
  justify-content: center;
}
.wrap #result ul li {
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 5px;
}
.wrap #result ul li.win {
  background-color: rgb(3, 116, 207);
  text-shadow: 1px 1px 0px #023c6a,2px 2px 0px #023c6a,3px 3px 0px #023c6a,4px 4px 0px #023c6a,5px 5px 0px #023c6a,6px 6px 0px #023c6a,7px 7px 0px #023c6a,8px 8px 0px #023c6a,9px 9px 0px #023c6a,10px 10px 0px #023c6a,11px 11px 0px #023c6a,12px 12px 0px #023c6a,13px 13px 0px #023c6a,14px 14px 0px #023c6a,15px 15px 0px #023c6a,16px 16px 0px #023c6a,17px 17px 0px #023c6a,18px 18px 0px #023c6a,19px 19px 0px #023c6a,20px 20px 0px #023c6a,21px 21px 0px #023c6a,22px 22px 0px #023c6a,23px 23px 0px #023c6a,24px 24px 0px #023c6a,25px 25px 0px #023c6a,26px 26px 0px #023c6a,27px 27px 0px #023c6a,28px 28px 0px #023c6a,29px 29px 0px #023c6a,30px 30px 0px #023c6a,31px 31px 0px #023c6a,32px 32px 0px #023c6a,33px 33px 0px #023c6a,34px 34px 0px #023c6a,35px 35px 0px #023c6a,36px 36px 0px #023c6a,37px 37px 0px #023c6a,38px 38px 0px #023c6a,39px 39px 0px #023c6a,40px 40px 0px #023c6a;;
}
.wrap #result ul li.lose {
  background-color: rgb(243, 49, 0);
  text-shadow: 1px 1px 0px #8d1c00,2px 2px 0px #8d1c00,3px 3px 0px #8d1c00,4px 4px 0px #8d1c00,5px 5px 0px #8d1c00,6px 6px 0px #8d1c00,7px 7px 0px #8d1c00,8px 8px 0px #8d1c00,9px 9px 0px #8d1c00,10px 10px 0px #8d1c00,11px 11px 0px #8d1c00,12px 12px 0px #8d1c00,13px 13px 0px #8d1c00,14px 14px 0px #8d1c00,15px 15px 0px #8d1c00,16px 16px 0px #8d1c00,17px 17px 0px #8d1c00,18px 18px 0px #8d1c00,19px 19px 0px #8d1c00,20px 20px 0px #8d1c00,21px 21px 0px #8d1c00,22px 22px 0px #8d1c00,23px 23px 0px #8d1c00,24px 24px 0px #8d1c00,25px 25px 0px #8d1c00,26px 26px 0px #8d1c00,27px 27px 0px #8d1c00,28px 28px 0px #8d1c00,29px 29px 0px #8d1c00,30px 30px 0px #8d1c00,31px 31px 0px #8d1c00,32px 32px 0px #8d1c00,33px 33px 0px #8d1c00,34px 34px 0px #8d1c00,35px 35px 0px #8d1c00,36px 36px 0px #8d1c00,37px 37px 0px #8d1c00,38px 38px 0px #8d1c00,39px 39px 0px #8d1c00,40px 40px 0px #8d1c00;;
}
.wrap #result ul li.draw {
  background-color: rgb(97, 97, 97);
  text-shadow: 1px 1px 0px #2e2e2e,2px 2px 0px #2e2e2e,3px 3px 0px #2e2e2e,4px 4px 0px #2e2e2e,5px 5px 0px #2e2e2e,6px 6px 0px #2e2e2e,7px 7px 0px #2e2e2e,8px 8px 0px #2e2e2e,9px 9px 0px #2e2e2e,10px 10px 0px #2e2e2e,11px 11px 0px #2e2e2e,12px 12px 0px #2e2e2e,13px 13px 0px #2e2e2e,14px 14px 0px #2e2e2e,15px 15px 0px #2e2e2e,16px 16px 0px #2e2e2e,17px 17px 0px #2e2e2e,18px 18px 0px #2e2e2e,19px 19px 0px #2e2e2e,20px 20px 0px #2e2e2e,21px 21px 0px #2e2e2e,22px 22px 0px #2e2e2e,23px 23px 0px #2e2e2e,24px 24px 0px #2e2e2e,25px 25px 0px #2e2e2e,26px 26px 0px #2e2e2e,27px 27px 0px #2e2e2e,28px 28px 0px #2e2e2e,29px 29px 0px #2e2e2e,30px 30px 0px #2e2e2e,31px 31px 0px #2e2e2e,32px 32px 0px #2e2e2e,33px 33px 0px #2e2e2e,34px 34px 0px #2e2e2e,35px 35px 0px #2e2e2e,36px 36px 0px #2e2e2e,37px 37px 0px #2e2e2e,38px 38px 0px #2e2e2e,39px 39px 0px #2e2e2e,40px 40px 0px #2e2e2e;;
}

#cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cover.on {
  display: flex;
}
#cover h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 50px;
}
#cover .msg {
  font-size: 5vw;
  margin: 50px 0;
  color: #fff;
}
#cover button {
  padding: 30px 60px;
  border: none;
  outline: none;
  background-color: rgb(224, 127, 0);
  overflow: hidden;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0 10px 0 #ad6200;
  transition: 0.1s ease;
}
#cover button:active {
  transform: translateY(10px);
  box-shadow: 0 0 0 #ad6200;
}

.blocking {
  position: fixed;
  z-index: 98;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
.blocking.on {
  display: block;
}