.main-visual .visual-wrap .visual {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-visual .visual-wrap .visual01 {
  background-image: url("../images/main/visual01.jpg");
}
.main-visual .visual-wrap .visual02 {
  background-image: url("../images/main/visual02.jpg");
}
.main-visual .visual-wrap .visual03 {
  background-image: url("../images/main/visual03.jpg");
}
.main-visual .visual-wrap .visual04 {
  background-image: url("../images/main/visual04.jpg");
}
.main-visual .visual-wrap .visual05 {
  background-image: url("../images/main/visual05.jpg");
}