/* a, span, em, input */

@import "vars";
@import "mixins";
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  background-color: #333;
  //color: #fff;
}
li {
  list-style: none;
}
header {
  height: 60px;
  background-color: #fff;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 18px;
    font-weight: 300;
    strong {
      font-weight: 700;
    }
  }
}
.search-box {
  width: 600px;
  margin: 50px auto;
  padding: 10px 30px;
  background-color: #fff;
  display: flex;
  border-radius: 100px;
  .search-txt {
    height: 50px;
    flex-grow: 1;
    border: none;
    font-size: 20px;
    font-weight: 700;
    outline: none;
  }
  .btn-search {
    background: none;
    border: none;
    outline: none;
    .material-icons {
      font-size: 36px;
    }
  }
}
#map {
  width: 1400px;
  aspect-ratio: 2/1;
  background-color: #000;
  margin: 100px auto;
  .contents-box {
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -140%);
    transition: all 0.5s ease;
    min-height: 80px;
    &.off {
      opacity: 0;
    }
    &:after {
      content: "";
      display: block;
      border: 10px solid transparent;
      border-top-color: #fff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
    }
    div {
      margin: 5px 0;
    }
    .close {
      position: absolute;
      right: -0;
      top: -28px;
      border: none;
      background: none;
      background-color: #111;
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
      .material-icons {
        //font-size: px;
        vertical-align: top;
      }
    }
    .title {
      font-size: 16px;
      font-weight: 700;
    }
    .reservation {
      a {
        background-color: rgb(6, 156, 220);
        color: #fff;
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 5px;
        border-radius: 3px;
        text-align: center;
      }
    }
  }
}

.customoverlay {
  background-color: rgb(3, 90, 144);
  padding: 10px 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  //border: 1px solid #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.marker {
  background-color: #111;
  position: absolute;
  width: 100%;
}
