@import "vars";
@import "mixins";
.visual__list {
  width: 100%;
  height: 100vh;
  li {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    &.visual01 {
      background-image: url("../images/main/visual01.jpg");
    }
    &.visual02 {
      background-image: url("../images/main/visual02.jpg");
    }
    &.visual03 {
      background-image: url("../images/main/visual03.jpg");
    }
  }
  .pagination {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    .swiper-pagination-bullet {
      opacity: 1;
      width: 12px;
      height: 12px;
      background-color: #fff;
      &-active {
        background-color: $blue;
      }
    }
  }
}
.visual__txt {
  position: absolute;
  top: 50%;
  color: #fff;
  z-index: 2;
  padding: 0 20px;
  word-break: keep-all; // 글자 단위의 줄바꿈을 하지 않는다.
  transform: translateY(-50%);
  h3 {
    font-weight: 700;
    font-size: clamp(24px, 7.5vw, 48px);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
  }
  br {
    display: none;
  }
  .word {
    overflow: hidden;
  }
  .char {
    // opacity: 0;
    // transform: translateY(50px);
  }
}

.section {
  padding: 50px 20px;
  h2 {
    font-size: clamp(20px, 5vw, 36px);
    margin-bottom: 30px;
    word-break: keep-all;
    line-height: 1.25;
    strong {
      font-weight: 700;
    }
  }
  p {
    font-size: 14px;
  }
  br {
    display: none;
  }
  .btn {
    display: inline-flex;
    padding: 15px 20px;
    border: 1px solid $blue;
    border-radius: 5px;
    align-items: center;
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    color: $blue;
    &--white {
      border-color: #fff;
      color: #fff;
    }
  }
}

.about {
  &__img {
    margin-top: 30px;
    img {
      width: 100%;
    }
  }
}

.products {
  padding-top: 0;
  &-banner {
    a {
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      display: block;
      margin-top: 30px;
      img {
        width: 100%;
        aspect-ratio: 2/1;
      }
      .more {
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: #fff;
        font-size: 36px;
      }
    }
    &__title {
      position: absolute;
      left: 20px;
      top: 20px;
      color: #fff;

      h3 {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

.banner {
  background: rgb(4, 63, 189);
  background: linear-gradient(90deg, rgba(4, 63, 189, 1) 0%, rgba(0, 31, 97, 1) 100%);
  color: #fff;
  text-align: center;
}

.tech {
  &-banner {
    margin-top: 30px;
    a {
      position: relative;
      display: block;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        aspect-ratio: 3/2;
      }
      .more {
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: #fff;
        font-size: 36px;
      }
    }
    &__title {
      position: absolute;
      left: 20px;
      right: 20px;
      top: 20px;
      color: #fff;
      word-break: keep-all;
      h3 {
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
  }
}
.investors {
  background-image: url("../images/main/main-investors.jpg");
  color: #fff;
  &__list {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    li {
      width: calc(50% - 20px);
      img {
        width: 100%;
      }
    }
  }
}
.news {
  .news-banner {
    margin-top: 30px;
  }
  li {
    width: 80%;
    position: relative;
    img {
      width: 100%;
      border-radius: 20px;
    }
    .news__txt {
      h3 {
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0;
      }
    }
    .sticker {
      padding: 5px 10px;
      background-color: $red;
      color: #fff;
      border-radius: 3px;
      font-size: 14px;
      position: absolute;
      left: 20px;
      top: 20px;
    }
  }
  .btn {
    display: none;
  }
}

@keyframes showTxt {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
