@charset "UTF-8";
.form-signin {
	max-width: 330px;
}
.info {
	max-width: 800px;
}
.content {
	white-space: pre-line;
}
.profile {
	width:100px;
	height: 100px;
	object-fit: cover;
	border-radius: 500px;
}
.profile-small {
	width:40px;
	height: 40px;
	object-fit: cover;
	border-radius: 500px;
}
.preview img {
	max-width:150px;
}





