@import "vars";
@import "mixins";

img {
  vertical-align: top;
}
#aaa {
  position: absolute;
  left: 50%;
  top: 50%;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 32px;
    margin: 100px 0;
    text-align: center;
    span {
      display: block;
      &.sub {
        font-size: 20px;
        margin-top: 20px;
      }
    }
  }
  #com {
    margin-bottom: 50px;
    ul {
      display: flex;
      li {
        user-select: none;
      }
    }
  }
  #player {
    ul {
      display: flex;
      &.prevent {
        pointer-events: none;
      }
      li {
        margin: 0 10px;
        border: 5px solid transparent;
        border-radius: 100%;
        user-select: none;
        &.on {
          border-color: #000;
        }
        img {
          width: 80px;
        }
      }
    }
  }
  #result {
    margin-top: 50px;
    ul {
      display: flex;
      justify-content: center;
      li {
        width: 40px;
        height: 40px;
        color: #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 0 5px;
        &.win {
          background-color: rgb(3, 116, 207);
          @include longShadow(darken(rgb(3, 116, 207), 20), right, 40);
        }
        &.lose {
          background-color: rgb(243, 49, 0);
          @include longShadow(darken(rgb(243, 49, 0), 20), right, 40);
        }
        &.draw {
          background-color: rgb(97, 97, 97);
          @include longShadow(darken(rgb(97, 97, 97), 20), right, 40);
        }
      }
    }
  }
}

#cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.on {
    display: flex;
  }
  h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 50px;
  }
  .msg {
    font-size: 5vw;
    margin: 50px 0;
    color: #fff;
  }
  button {
    padding: 30px 60px;
    border: none;
    outline: none;
    background-color: rgb(224, 127, 0);
    overflow: hidden;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0 10px 0 darken(rgb(224, 127, 0), 10);
    transition: 0.1s ease;
    &:active {
      transform: translateY(10px);
      box-shadow: 0 0 0 darken(rgb(224, 127, 0), 10);
    }
  }
}

.blocking {
  position: fixed;
  z-index: 98;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  //background-color: rgba(0, 0, 0, 0.5);
  display: none;
  &.on {
    display: block;
  }
}
