<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jsp07-mybatis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardList</display-name>
    <servlet-name>BoardList</servlet-name>
    <servlet-class>com.jjang051.controller.board.BoardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardList</servlet-name>
    <url-pattern>/board/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardWrite</display-name>
    <servlet-name>BoardWrite</servlet-name>
    <servlet-class>com.jjang051.controller.board.BoardWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWrite</servlet-name>
    <url-pattern>/board/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDelete</display-name>
    <servlet-name>BoardDelete</servlet-name>
    <servlet-class>com.jjang051.controller.board.BoardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDelete</servlet-name>
    <url-pattern>/board/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdate</display-name>
    <servlet-name>BoardUpdate</servlet-name>
    <servlet-class>com.jjang051.controller.board.BoardUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdate</servlet-name>
    <url-pattern>/board/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardAllDelete</display-name>
    <servlet-name>BoardAllDelete</servlet-name>
    <servlet-class>com.jjang051.controller.board.BoardAllDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardAllDelete</servlet-name>
    <url-pattern>/board/all-delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardSearch</display-name>
    <servlet-name>BoardSearch</servlet-name>
    <servlet-class>com.jjang051.controller.board.BoardSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardSearch</servlet-name>
    <url-pattern>/board/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardSearchForm</display-name>
    <servlet-name>BoardSearchForm</servlet-name>
    <servlet-class>com.jjang051.controller.board.BoardSearchForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardSearchForm</servlet-name>
    <url-pattern>/board/search-form</url-pattern>
  </servlet-mapping>
</web-app>