* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.lotto {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.lotto li {
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.lotto li.yellow {
  background-color: #db9a01;
}
.lotto li.blue {
  background-color: #038af1;
}
.lotto li.red {
  background-color: #ed3700;
}
.lotto li.gray {
  background-color: #a3a3a3;
}
.lotto li.green {
  background-color: #62ca00;
}